@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("./layers-define.css");
/* @import 'open-props/normalize' layer(reset); */
/* @import 'open-props/colors' layer(base); */
/* @import 'open-props/sizes' layer(base); */
/* @import 'open-props/borders' layer(base); */
/* @import 'open-props/aspects' layer(base); */
/* @import 'open-props/fonts' layer(base); */
/* @import 'open-props/shadows' layer(base); */
@import "../node_modules/open-props/normalize.min.css" layer(reset);
@import "../node_modules/open-props/colors.min.css" layer(base);
@import "../node_modules/open-props/sizes.min.css" layer(base);
@import "../node_modules/open-props/borders.min.css" layer(base);
@import "../node_modules/open-props/aspects.min.css" layer(base);
@import "../node_modules/open-props/fonts.min.css" layer(base);
@import "../node_modules/open-props/shadows.min.css" layer(base);

/* reference: https://www.joshwcomeau.com/css/custom-css-reset/ */
/* @layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  #root,
  #__next {
    isolation: isolate;
  }
} */

@layer default {
  :root {
    --background: var(--gray-0);
    --foreground: var(--gray-9);
  }

  @media (--OSdark) {
    :root {
      --background: var(--gray-8);
      --foreground: var(--gray-1);
    }
  }

  /* html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  } */

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Nunito, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .container-xxxs {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
  .container-xxs {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
  }
  .container-xs {
    max-width: 532px;
    width: 100%;
    margin: 0 auto;
  }
  .container-s {
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
  }

  .web-typo-bold {
    font-weight: 700;
  }
  .web-typo-uppercase {
    text-transform: uppercase;
  }
  .web-typo-center {
    text-align: center;
  }
  .web-typo-regular-1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 133%;
  }
  .web-typo-regular-2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 136%;
  }
  .web-typo-regular-3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
  }
  .web-typo-regular-4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 133%;
  }
  .web-typo-regular-5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 137%;
  }
  .web-typo-regular-6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 143%;
  }
  .web-typo-regular-7 {
    font-size: 12px;
    font-weight: 400;
    line-height: 133%;
  }
  .web-typo-regular-narrow-1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 114%;
  }
  .web-typo-regular-narrow-2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 114%;
  }
  .web-typo-regular-narrow-3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 114%;
  }
  .web-typo-regular-narrow-4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 114%;
  }
  .web-typo-regular-narrow-5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 114%;
  }
  .web-typo-regular-narrow-6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 114%;
  }
  .web-typo-regular-narrow-7 {
    font-size: 12px;
    font-weight: 400;
    line-height: 114%;
  }
  .web-typo-bold-1 {
    font-size: 24px;
    line-height: 133%;
    font-weight: 700;
  }
  .web-typo-bold-2 {
    font-size: 22px;
    line-height: 136%;
    font-weight: 700;
  }
  .web-typo-bold-3 {
    font-size: 20px;
    line-height: 140%;
    font-weight: 700;
  }
  .web-typo-bold-4 {
    font-size: 18px;
    line-height: 133%;
    font-weight: 700;
  }
  .web-typo-bold-5 {
    font-size: 16px;
    line-height: 137%;
    font-weight: 700;
  }
  .web-typo-bold-6 {
    font-size: 14px;
    line-height: 143%;
    font-weight: 700;
  }
  .web-typo-bold-7 {
    font-size: 12px;
    line-height: 133%;
    font-weight: 700;
  }
  .web-typo-heading-bold-1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 114%;
    margin-bottom: 0;
  }
  .web-typo-heading-bold-2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    margin-bottom: 0;
  }
  .web-typo-heading-bold-3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 122%;
    margin-bottom: 0;
  }
  .web-typo-heading-bold-4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 122%;
    margin-bottom: 0;
  }
  .web-typo-heading-bold-5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    margin-bottom: 0;
  }
  .web-typo-heading-bold-6 {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    margin-bottom: 0;
  }
  .web-typo-heading-1 {
    font-weight: 400;
    font-size: 56px;
    line-height: 114%;
    margin-bottom: 0;
  }
  .web-typo-heading-2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 117%;
  }
  .web-typo-heading-3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 122%;
  }
  .web-typo-heading-4 {
    font-weight: 400;
    font-size: 36px;
    line-height: 129%;
  }
  .web-typo-heading-5 {
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
  }
  .web-typo-heading-6 {
    font-weight: 400;
    font-size: 28px;
    line-height: 129%;
  }

  /* image cover */
  .web-image-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .web-image-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@layer components {
  .section-separator {
    display: flex;
    gap: 1rem;
    &:before {
      content: "";
      border: 0.5px dashed #d3d3d3;
      align-self: stretch;
    }
    .section__item--start {
      order: -1;
    }
  }
  .separator {
    width: 1px;
    background-color: #d3d3d3;
    height: 100%;
  }
}
