@layer components {
  .tabs {
    --background: var(--gray-2);
    --tab-bg-color: var(--background);
    --tabs-height: var(--size-px-10);
    --tabs-selected-bg-color: var(--background);
    --tabs-hover-bg-color: var(--background);
    --tab-content-bg-color: var(--background);
    @media (--OSdark) {
      --background: var(--surface-3);
      --tab-bg-color: var(--background);
      --tabs-height: var(--size-px-10);
      --tabs-selected-bg-color: var(--background);
      --tabs-hover-bg-color: var(--background);
      --tab-content-bg-color: var(--background);
    }
    min-height: 100px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: relative;

    .tab-bar {
      display: flex;
      gap: var(--size-px-2);
    }

    .tab-content {
      min-height: 100px;
      background-color: var(--tab-content-bg-color);
      border-radius: var(--radius-2);
      padding: var(--size-px-3);
    }

    .tab-item {
      flex: 1;
      align-self: flex-end;

      &:first-of-type {
        margin-left: var(--size-px-2);
      }

      > .tab-radio {
        position: absolute;
        opacity: 0;
      }

      > .tab-label {
        background-color: var(--tab-bg-color);
        display: flex;
        padding: var(--size-px-2);
        align-items: center;
        border-radius: 5px 5px 0 0;
        position: relative;
        z-index: 2;
        max-height: var(--tabs-height);
        cursor: pointer;
        flex: 1;

        &:hover {
          background-color: var(--tabs-hover-bg-color);
        }

        &::before,
        &::after {
          content: " ";
          pointer-events: none;
          position: absolute;
          display: block;
          height: 80%;
          width: 100%;
          bottom: 0px;
          z-index: -1;
          opacity: 0;
        }
      }

      > .tab-radio:checked + .tab-label {
        z-index: 4;

        &::before {
          box-shadow: 14px 0.25em 0 -4px var(--tabs-selected-bg-color);
        }

        &::after {
          box-shadow: -14px 0.25em 0 -4px var(--tabs-selected-bg-color);
        }

        &:hover::before,
        &::before {
          left: -100%;
          border-radius: 0 0 10px 0;
          opacity: 1;
        }

        &:hover::after,
        &::after {
          right: -100%;
          border-radius: 0 0 0 10px;
          opacity: 1;
        }
      }
    }

    .tab-close {
      display: flex;
      width: 15px;
    }

    .toggle-button {
      padding-bottom: var(--size-px-2);
    }

    .wrapper-base64-text-container {
      display: flex;
      flex-direction: column;
      gap: var(--size-px-2);
      padding: var(--size-px-2) 0;
      background-color: light-dark(var(--gray-1), var(--gray-8));
      color: light-dark(var(--gray-9), var(--gray-1));
      border-radius: var(--radius-2);
      box-shadow: var(--shadow-1);
      .placeholder {
        height: 300px;
      }
    }

    .wrapper-base64-text {
      font-size: var(--font-size-0);
      line-height: var(--font-lineheight-2);
      max-height: 300px;
      overflow: auto;
      overflow-wrap: break-word;
      padding: 0 var(--size-px-2);
    }

    .read-more-button {
      margin-left: var(--size-px-1);
      background-color: light-dark(var(--gray-3), var(--gray-4));
      color: light-dark(var(--gray-9), var(--gray-7));
      &:hover {
        background-color: light-dark(var(--gray-4), var(--gray-3));
      }
    }
  }
}
